
	  <!--footer start-->
	  <div class="weui_tabbar">
	    <a href="#tab1" class="weui_tabbar_item weui_bar_item_on" id="gotab1">
	    <div class="weui_tabbar_icon">
            <i class="weui_icon_waiting"></i>
          </div>
	       
	      <p class="weui_tabbar_label">进行中</p>
	    </a>
	    <a href="#tab2" class="weui_tabbar_item" id="gotab2">
	    <div class="weui_tabbar_icon">
            <i class="weui_icon_success"></i>
          </div>
	     
	      <p class="weui_tabbar_label">已完成</p>
	    </a>
	    <a href="#tab3" class="weui_tabbar_item">
	    <div class="weui_tabbar_icon">
             <i class="weui_icon_info"></i>
          </div>
	     
	      <p class="weui_tabbar_label">想要做</p>
	    </a>
	  </div>

	</div>

	<script src="{{url_for('static', filename='js/jquery-2.1.4.js')}}"></script>
	<script src="{{url_for('static', filename='js/jquery-weui.js')}}"></script>
	<script src="{{url_for('static', filename='js/app.js')}}"></script>
	<script>
		
	</script>
